@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#e6e6e6;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-size: cover;
  padding: 10px 0;
}
/* DEBUT CSS DE LA VAV BAR  */

nav {
  display: flex;

  align-items: center;
  padding: 0 20px;
  background-color: transparent;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.btnhead button {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  position:relative;
  right: -130%;
  outline: none;
}

.btnhead button:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: black;
}
/* FIN CSS DE LA NAV BAR */


.containerinfo {
  position: absolute;
  top: 28%;
  left: 1%;
  min-height: 450px;
  width: 500px;
  max-width: 100%;
}

.info1,
.info2,
.info3 {
  margin-bottom: 20px; /* Ajouter un espacement vertical entre chaque élément */
}

.info1 {
  position: relative;
  left: 12%;
  font-size: 80px;
  color: #a2a595;
}

.info2 {
  position: relative;
  left: 13%;
  color: #000000;
}

.info3 {
  position: relative;
  left: 13%;
  color: #000000;
}

/* DEBUT CCS POUR LE FORMULAIRE */
.container {
  position: absolute;
  top: 21%;
  right: 3%;
  overflow: hidden;
  min-height: 450px;
  width: 700px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: .6s ease-in-out;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.panel-active .sign-up-container{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show .6s
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
   }
}

.container.panel-active .login-container{
  transform: translateX(100%);
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #f6ead4;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.ghost {
  background-color: transparent;
}

button.btn-form {
  background-color: #f6ead4;
  color:#a2a595;
  border: 1px solid #f6ead4;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  border-color:rgba(0, 0, 0, 0.45);
  transition: .2s ease-in;
}

button.btn-form:hover {
  background-color: #a2a595;
  color: #f6ead4;
}

button.btn-form:active {
  transform: scale(.95);
}

.social-container {
  margin: 24px 0;
}

.social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f6ead4;
  border: 1px solid #000000;
}

h1 {
  margin: 0;
  font-size: 24px;
}

span {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  margin: 8px 0 16px;
  color: #a2a595;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: transform .6s ease-in-out;
}

.container.panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #fffbf5, #e3d5bd);
  background-color: #f6ead4;
  color: #a2a595;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;

}

.container.panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.panel-active .overlay-right{
  transform: translateX(20%);
}

p.pform {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

/* FIN CSS FORMULAIRE */