@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  /* color */
  --primary: #264653;
  --secondary: #2a9d8f;
  --tertiary: #e9c46a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-size: cover;
  padding: 10px 0;
  background-color: var(--primary);
}

/* DEBUT CSS DE LA VAV BAR  */

nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 50%;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.btnhead button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  left: 12%;
}

.btnhead button:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

/* FIN CSS DE LA NAV BAR */
.containertexte {
  position: absolute;
  top: 28%;
  left: 1%;
  min-height: 450px;
  width: 500px;
  max-width: 100%;
}

.texte1,
.texte2,
.info3 {
  margin-bottom: 20px;
  /* Ajouter un espacement vertical entre chaque élément */
}

.texte1 {
  position: relative;
  left: 23%;
  font-size: 80px;
  color: var(--secondary);
}

.texte2 {
  position: relative;
  left: 24%;
  color: #000000;
}

.texte3 {
  position: relative;
  left: 24%;
  color: #000000;
}

/* DEBUT CCS POUR LE FORMULAIRE */

.error-message {
  position: fixed;
  right: 18%;
  bottom: 10%;
  color: red;
  font-size: 100%;
}

.container {
  position: absolute;
  top: 21%;
  right: 3%;
  overflow: hidden;
  min-height: 450px;
  width: 700px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: .6s ease-in-out;
  width: 50%;
  /* Ensuring both forms occupy half of the container */
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show .6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.container.panel-active .login-container {
  transform: translateX(100%);
}

.login-container {
  left: 0;
  z-index: 2;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: var(--tertiary);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.ghost {
  background-color: transparent;
}

button.btn-form {
  background-color: var(--primary);
  color: #ffffff;
  border: 1px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: .2s ease-in;
}

button.btn-form:hover {
  color: var(--tertiary);
}

button.btn-form:active {
  transform: scale(.95);
}

.social-container {
  margin: 24px 0;
}

.social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  border: 1px solid #000000;
}

h1 {
  margin: 0;
  font-size: 24px;
}

span {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  margin: 8px 0 16px;
  color: var(--tertiary);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: transform .6s ease-in-out;
}

.container.panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #97979782 , #ffffff);
  color: var(--primary);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.container.panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.panel-active .overlay-right {
  transform: translateX(20%);
}

p.pform {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

/* FIN CSS FORMULAIRE */

// DEBUT CSS A PROPOS
.separator-container {
  width: 100%;
  display: flex;
  justify-content: left;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--tertiary);
  margin: 5px 0;
}

.container-apropos {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle-apropos {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #000000;
}

.content-apropos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-section-apropos {
  flex: 1 1 45%;
  margin-right: 20px;
}

.image-section-apropos {
  flex: 1 1 45%;
  text-align: center;
}

.image-section-apropos img {
  max-width: 100%;
  height: auto;
}

.author-apropos {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author-apropos img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.author-apropos p {
  margin: 0;
}

.footer-apropos {
  background-color: var(--primary);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-apropos p {
  font-size: 1em;
}

// FIN CSS A PROPOS

// DEBUT CSS INFORMATIONS 
.container-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-display,
.info-modify {
  flex: 1;
  margin: 0 20px;
  padding: 20px;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.info-display p,
.info-modify form {
  margin-bottom: 10px;
}

.info-modify form {
  display: flex;
  flex-direction: column;
}

.info-modify label {
  margin-bottom: 5px;
}

.info-modify input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.btn-modify {
  padding: 10px 15px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-modify:hover {
  background-color: var(--secondary);
}

.btn-logout {
  width: auto; // Change to auto for better control
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end; // Align to the end of the container
}

.btn-logout:hover {
  background-color: #d32f2f;
}

// FIN CSS INFORMATIONS 

// DEBUT CSS GESTION DES TACHES

.task-creation-container {
  position: absolute;
  left: 0;
  width: 50%;
  padding: 20px;
  height: 50%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-form input,
.task-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.task-form-selects {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-form-selects select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
}

.task-form button {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-form button:hover {
  background-color: var(--primary);
}
// DEBUT CSS GESTION DEPENSES


.depenses-container {
  position: absolute;
  right: 0;
  width: 50%;
  padding: 20px;
  height: 50%;
}

.depenses-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.depenses-form input,
.depenses-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.depenses-form button {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.depenses-form button:hover {
  background-color: var(--primary);
}

.liste-depenses {
  margin-top: 20px;
}


// Dashboard
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.dashboard-tasks-container {
  width: 100%;
}

.dashboard-info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.dashboard-depenses-container, .dashboard-calendrier-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-task {
  width: 100%;
}

.title-container {
  display: flex;
  margin-bottom: 1%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  margin: 0;
}

.title-center {
  text-align: center;
  flex-grow: 1;
}

.dashboard-tasks {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.logo-tasks, .logo-depenses, .logo-calendrier {
  width: 40px;
}

.tasks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-x: auto;
}

.task-item, .info-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  height: 210px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.task-item h2, .info-item h2 {
  color: var(--primary);
  margin-bottom: 10px;
}

.task-type, .info-type {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

.task-item p, .info-item p {
  white-space: normal;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}

.task-priority, .info-priority {
  margin-bottom: 20px;
}

.task-deadline, .info-deadline {
  font-weight: bold;
  color: #333;
}

.deadline-date {
  font-weight: bold;
  color: #ff0000;
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.task-completed-icon, .info-completed-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.table-depenses {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.table-depenses th,
.table-depenses td {
  border: 1px solid var(--primary);
  text-align: center;
  padding: 8px;
}

.table-depenses th {
  background-color: var(--secondary);
  text-align: left;
}

.table-depenses tr:nth-child(even) {
  background-color: #d3d3d3a7;
}

.table-depenses tr:hover {
  background-color: var(--tertiary);
}

.table-depenses tr:hover td {
  background-color: var(--tertiary); 
}

.depense-completed-icon {
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.delete-column {
  text-align: right;
  padding-right: 10px;
  position: relative;
}

// CSS CALENDAR

.container-calendar {
  width: 60%;
  height: 60vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 25rem;  // Réduire la largeur
  height: 25rem; // Réduire la hauteur
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 8rem; // Réduire la hauteur
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; // Réduire le padding
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 1rem; // Réduire la taille de la police
  cursor: pointer;
}

.month h1 {
  font-size: 1rem; // Réduire la taille de la police
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1rem; // Réduire la taille de la police
}

.weekdays {
  width: 100%;
  height: 1rem; // Réduire la hauteur
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}


.weekdays div {
  font-size: 1rem; // Réduire la taille de la police
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(30rem / 4); // Ajuster la largeur
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.days div {
  font-size: 1rem;
  margin: 0.2rem;
  width: calc(30rem / 10);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #ffffff;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}